<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>3Scale Import</title>
</head>
<body>
   <img src="3scale-by-redhat.png" style="width:15%;height:15%;"/>
   <h1>Swagger Import Tool (non-official)</h1>
	<form action="/import" method="POST" class="form-horizontal">
		<table class="table table-bordered">
		<tr>
			<td>Access Token:</td><td> <input type="text" name="access_token" size="80"/></td>
		</tr>
		<tr>
			<td>3Scale ID:</td><td> <input type="text" name="threescale_id" size="20"/></td>
		</tr>
		<tr>
			<td>Wildcard Domain:</td><td><input type="text" name="wildcard_domain" size="30"/></td>
		</tr>
		<tr>
			<td>Swagger file URL:</td><td> <input type="text" name="swagger_file" size="80"/></td>
		</tr>
		</table>
		<input type="submit" value="Import API" class="btn btn-primary"/>
	</form>
</body>
</html>
